<main>
  <!-- main -->
  <div class="main row justify-content-center pt-4 pb-4">
    <div class="body col-10">
      <div class="row">
        <div class="col-6 product-detail-left" style="border: 1px solid #ccc">
          <img src="/website/images/assets-init/product.jpeg" class="image-detail" />
          <ul class="list-image d-flex">
            <li>
              <img src="/website/images/assets-init/product.jpeg" alt="" class="list-image-item" />
            </li>
            <li>
              <img src="/website/images/assets-init/product.jpeg" alt="" class="list-image-item" />
            </li>
            <li>
              <img src="/website/images/assets-init/product.jpeg" alt="" class="list-image-item" />
            </li>
            <li>
              <img src="/website/images/assets-init/product.jpeg" alt="" class="list-image-item" />
            </li>
            <li>
              <img src="/website/images/assets-init/product.jpeg" alt="" class="list-image-item" />
            </li>
            <li>
              <img src="/website/images/assets-init/product.jpeg" alt="" class="list-image-item" />
            </li>
          </ul>
        </div>
        <div class="col-6 product-detail-right" style="border: 1px solid #ccc">
          <h2 class="product-detail-name">Product's name</h2>
          <h3 class="product-detail-price">200.000vnd</h3>

          <button>Lien he</button>

          <br />
          <br />
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="product-detail-info">
          <span> Mo ta san pham</span>
          <p>
            Store GC Cảm ơn bạn đã yêu thích sản phẩm của shop và có đánh giá tích cực cho shop. Đây là động lực giúp
            shop tiếp tục cố gắng và phục vụ khách hàng, đem đến những sản phẩm tốt nhất. Nhấn theo dõi shop để cập nhật
            những sản phẩm mới cũng như hàng loạt voucher chi ân khách hàng của shop. Hy vọng bạn sẽ luôn ủng hộ shop
            lâu dài nhé. Thân chào bạn❤️
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

