/* ------------------- main ------------------- */

.banner-header {
  padding: 15px 0;
  height: 250px;
  width: 80%;
  align-items: center;
}

.main {
  min-height: 600px;
}

.list {
  border: 1px solid #ccc;
}

.banner {
  border: 1px solid #ccc;
}

.img-banner {
  width: 200px;
  height: 540px;
}

/* ------------------- product  ------------------- */

.product-wrapper {
  height: 300px;
  padding: 8px;
  cursor: pointer;
}

.image-product {
  width: 100%;
  height: 100%;
}
.product-info {
  height: 100px;
  padding-left: 8px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.name {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}
.price {
  font-size: 1rem;
  color: #ee4d2d;
}
/* ------------------- product detail ------------------- */

.product-detail-right {
  padding-left: 10px;
}

.image-detail {
  width: 100%;
}

.list-image {
  margin-top: 8px;
}

.list-image > li {
  width: 100%;
}

.list-image-item {
  width: 90%;
}

